<!DOCTYPE html>
<html>
{{> header }}
<head>
<meta charset="utf-8">
<title>{{pageTitle}}</title>
</head>

<body>
  <h1> About Us </h1>
  <p>Welcome to the {{pageTitle}}</p>
</body>

{{> footer }}
</html>
