<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>{{pageTitle}}</title>
</head>

<body>
  <h2>Maintenance Mode</h2>
    <p>This Site is under Maintenance. <br> Thanks</p>
</body>
{{> footer}}
</html>
